{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('styles/author-pictures.css') }}">
{% endblock %}
{% block body %}
<h1>Photos de {{ pseudo }}</h1>
<div class="grid">
    {% for picture in pictures %}
        <a href="{{ path('detail', {'id': picture.id}) }}"><img src="{{ asset('images/galerie/' ~ picture.picture) }}" alt="{{ picture.title }}"></a>
    {% endfor %}
</div>
{% endblock %}