{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/authors.css') }}">
{% endblock %}
{% block body %}
<h1>Auteurs</h1>
<div class="flex">
    {% for author in authors %}
        <a class="author" href="{{ path('author-pictures', {'id': author.id}) }}">
            <div class="image">
                <img src="{{ asset('images/user.png') }}">
            </div>
            <h3>{{author.pseudo}}</h3>
            <p>Photos publiées: <b>{{author.numberPictures}}</b></p>
        </a>
    {% endfor %}
</div>
{% endblock %}