<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}PixelPalette{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/pixelpalette_icon.png') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ importmap() }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <nav class="navbar">
                <a href="{{ path('home') }}" class="logo">
                    <img src="{{ asset('images/logo.png') }}" alt="Logo PixelPalette">
                </a>
                <div class="menu">
                    <ul>
                        <li><a href="{{ path('authors') }}">Auteurs</a></li>
                        {% if isLogin == true %}
                            <li><a href="{{ path('my-pictures', {id: loginUserId}) }}">Mes images</a></li>
                        {% endif %}
                    </ul>
                    <div class="search-bar">
                        <input type="text" placeholder="Rechercher...">
                        <button type="submit"><img src="{{ asset('images/magnifying_glass.png') }}"></i></button>
                    </div>
                    <div>
                        {% if isLogin == false %}
                            <a id="auth-buttons" href="{{ path('login') }}">Connexion</a>
                            <a class="button" href="{{ path('signup') }}">Inscription</a>
                        {% else %}
                            <a class="button" href="{{ path('logout') }}">Déconnexion</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
