{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}
{% block nav %}
{{ parent() }}
{% endblock %}
{% block body %}
<div class="container_landing">
    <div class="content_landing">
        <h1>Bienvenue sur <span>PixelPalette</span></h1>
        <p>PixelPalette est une plateforme sociale où les passionnés de photographie se connectent pour partager leurs clichés et découvrir l'inspiration à travers une palette infinie d'images.</p>
        <button><img src="{{ asset('images/image_icon.png') }}">Explorer</button>
    </div>
</div>
<div class="galerie">
    <h2>Galerie</h2>
    <div class="pictures">
        {% for picture in pictures %}
            <img src="{{ asset('images/galerie/' ~ picture.picture) }}" alt="{{ picture.title }}">
        {% endfor %}
    </div>
</div>
{% endblock %}